/**
 * Author: J-P Blary
 * @see https://github.com/blaryjp/gmail-mobile-loading
 */
#mabite {
    position: relative;
    width: 100%; height: 4px;
    border-radius: 2px;
    background-color: pink;
}

/* @see http://cubic-bezier.com/#.55,.02,.96,.1 */
.balls {
    position: absolute;
    top: 0; left: 0;
    width: 4px; height: 4px;
    border-radius: 8px;
    background-color: #000;

    -webkit-animation-name: moveMyBalls;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.55,.02,.96,.1);
    
    -moz-animation-name: moveMyBalls;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: cubic-bezier(.55,.02,.96,.1);

    -ms-animation-name: moveMyBalls;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: cubic-bezier(.55,.02,.96,.1);

    -o-animation-name: moveMyBalls;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: cubic-bezier(.55,.02,.96,.1);

    animation-name: moveMyBalls;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.55,.02,.96,.1);

}
.ball1 {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}
.ball2 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.ball3 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.ball4 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
.ball5 {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@-webkit-keyframes moveMyBalls {
    0%   { left: 0; }
    20%  { left: 0; }
    100% { left: 100%; }
}
@-moz-keyframes moveMyBalls {
    0%   { left: 0; }
    20%  { left: 0; }
    100% { left: 100%; }
}
@-ms-keyframes moveMyBalls {
    0%   { left: 0; }
    20%  { left: 0; }
    100% { left: 100%; }
}
@-o-keyframes moveMyBalls {
    0%   { left: 0; }
    20%  { left: 0; }
    100% { left: 100%; }
}
@keyframes moveMyBalls {
    0%   { left: 0; }
    20%  { left: 0; }
    100% { left: 100%; }
}